<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false">

    <testsuites>
        <testsuite name="libuv-ffi Test Suite">
            <directory suffix=".phpt">tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <file>preload.php</file>
            <exclude>
                <directory suffix=".php">examples/</directory>
                <directory suffix=".h">headers/</directory>
                <file>headers/uv_ffi.stub.php</file>
                <file>.ignore_autoload.php</file>
                <file>ffi_preloader.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
