# GitHub Action for ffi of libuv for PHP
name: ffi

on:
  workflow_dispatch:

jobs:
  multi:
    name: ${{ matrix.operating-system }} CI
    runs-on: ${{ matrix.operating-system }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.4', '8.0', '8.1']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: fileinfo, mbstring, openssl, simplexml, dom, sockets, sodium, xdebug
          coverage: xdebug
      - name: Install dependencies
        run: |
          composer install
          composer require --dev phpunit/phpunit ^8
      - name: Test with phpunit
        run: vendor/bin/phpunit --coverage-clover=coverage/phpunit/clover.xml
      - name: Submit code coverage
        if: ${{ success() }} || ${{ failure() }}
        uses: codecov/codecov-action@v1
        with:
          file: ./clover.xml # optional
